@model BliviPedidos.Models.ViewModels.StoreViewModel;
@{
    ViewData["Title"] = "Lista de Clientes ";
}
<div class="pagetitle">
    <h1>Lista de Clientes</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Página Inicial</a></li>
            <li class="breadcrumb-item"><a asp-controller="Store" asp-action="ClienteLista">Clientes</a></li>
            <li class="breadcrumb-item active">Lista de Clientes</li>
        </ol>
    </nav>
</div>
<section class="section dashboard">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <h5 class="card-title">Lista de Clientes <span>| Clientes registrados nos pedidos</span></h5>

                    <table class="datatable table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Ação</th>
                                <th>Nome</th>
                                <th>Telefone</th>
                                <th>Pedidos</th>
                                <th>Não Pagos</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var c in Model.Clientes)
                            {
                                <tr>
                                    <td>
                                        <a asp-action="ClienteDetalhe" asp-route-id="@c.Id" class="btn btn-primary btn-sm">
                                            <i class="bi bi-info-circle"></i>
                                        </a>
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => c.Nome)</td>
                                    <td>@Html.DisplayFor(modelItem => c.Telefone)</td>
                                    <td>@Html.DisplayFor(modelItem => c.Pedidos.Count)</td>
                                    <td>
                                        @c.Pedidos.Count(p => !p.Pago)
                                        @if (@c.Pedidos.Count(p => !p.Pago) > 0)
                                        {
                                            <span class="badge bg-warning text-dark"><i class="bi bi-exclamation-triangle me-1"></i> Pendências</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary btn-sm">
                        <i class="bi bi-house"></i> Voltar ao inicío
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
