@model BliviPedidos.Models.ViewModels.ProdutoViewModel
@{
    ViewData["Title"] = "Detalhe do Produto";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="pagetitle">
    <h1>Detalhes do Produtos</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Página Inicial</a></li>
            <li class="breadcrumb-item"><a asp-controller="Store" asp-action="ProdutoLista">Produtos</a></li>
            <li class="breadcrumb-item active">@Model.Nome</li>
        </ol>
    </nav>
</div>
<section class="section dashboard">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Informações de estoque</h5>
                    <h2 class="font-bold m-b-xs">
                        @Model.Nome
                    </h2>
                    <div class="m-t-md">
                        <h2 class="product-main-price">@Model.PrecoVenda.ToString("C") <small class="text-muted">@Model.Quantidade unidades em estoque</small> </h2>
                        @if (Model.Quantidade == 0)
                        {
                            <br />
                            <span class="badge bg-danger"><i class="bi bi-exclamation-octagon me-1"></i> Produto Esgotado</span>
                        }
                        else if (Model.Quantidade < 10)
                        {
                            <br />
                            <span class="badge bg-warning text-dark"><i class="bi bi-exclamation-triangle me-1"></i> Poucas unidades</span>
                        }
                    </div>
                    <h4 class="card-title">Detalhes do produto</h4>
                    <div class="row mb-3" style="text-align: center;">
                        <div class="product-images">
                            <div>
                                <div class="panel-body">
                                    <img src="@Model.Foto" alt="Foto do Produto" style="max-width: 100%; max-height: 100%;" />
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <div>
                        <a asp-action="ProdutoLista" class="btn btn-secondary btn-sm">
                            <i class="bi bi-arrow-left"></i> Voltar lista de produtos do shopping
                        </a>
                    </div>

                    <a href="@Url.Action("ProdutoEditar", "Store", new { id = Model.Id })" class="btn btn btn-primary btn-sm"><i class="bi bi-pencil-square"></i> Editar Produto</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                @{
                    decimal valorTotalPago = Model.PrecoPago * Model.Quantidade;
                    decimal valorVendaPrevisto = Model.PrecoVenda * Model.Quantidade;
                    decimal lucroPrevisto = valorVendaPrevisto - valorTotalPago;
                }
                <div class="card-body">
                    <h5 class="card-title">Detalhes adicionais do pedido <span>| Etiquetas e informações de valores </span></h5>
                    <div class="col-12">
                        <div class="row d-flex justify-content-center">
                            <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#imprimirEtiquetaModal" data-id="@Model.Id">
                                Imprimir uma etiqueta de identificação
                            </a>
                        </div>
                    </div>
                    <div class="modal fade" id="imprimirEtiquetaModal" tabindex="-1" role="dialog" aria-labelledby="imprimirEtiquetaModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="imprimirEtiquetaModalLabel">Imprimir Etiqueta de Identificação</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Conteúdo do modal, pode ser um formulário ou informações da etiqueta -->
                                    <p>Você deseja imprimir a etiqueta do produto <span id="produtoNome"></span>?</p>
                                    <!-- Formulário de impressão, se necessário -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" id="confirmarImpressao" data-id="">Imprimir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="card info-card revenue-card">
                        <div class="card-body">
                            <h5 class="card-title">Valor pago no produto</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@valorTotalPago.ToString("C")</h6>
                                    <span class="small pt-1 fw-bold">@Model.PrecoPago * @Model.Quantidade</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card info-card revenue-card">
                        <div class="card-body">
                            <h5 class="card-title">Valor previsto de venda</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@valorVendaPrevisto.ToString("C")</h6>
                                    <span class="small pt-1 fw-bold">@Model.PrecoVenda * @Model.Quantidade</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card info-card revenue-card">
                        <div class="card-body">
                            <h5 class="card-title">Valor lucro previsto</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="d-flex justify-content-right ps-3">
                                    <h6>@lucroPrevisto.ToString("C")</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
</section>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="~/js/controllers/Store-ProdutoDetalhe.js"></script>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}